*{
	margin: 0;
	padding: 0;
}
body, html {
	min-height: 420px;
}
::-webkit-scrollbar{
	width: 1svw;
	max-width: 8px;
	height: 10px;
}
::-webkit-scrollbar-track{
	background-color: #06070d;
}
::-webkit-scrollbar-track-piece{
	background-color: #242426;
}
::-webkit-scrollbar-thumb{
	height: 50px; background-color: #596066; border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(89, 96, 102, .7);
}
::-webkit-scrollbar-corner{
	background-color: #06070d;
}
::-webkit-resizer{
	background-color: #596066;
}
@font-face{
	font-family: 'JetBrains Mono';
	src: url('../fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
}
header{
	margin: 3svh 2svw 0;
	min-height: 45px;
	min-width: 570px;
	height: 5svh;
	border-radius: 20px 20px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #778da9;
}
.button{
	width: 15%;
	min-width: 120px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 16px Luminari, fantasy;
	letter-spacing: 1.3px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	color: #e0e1dd;
	background-color: #415a77;
}
.button:first-child{
	border-radius: 20px 0 0 20px;
}
.button:last-child{
	border-radius: 0 20px 20px 0;
}
.button:hover{
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
	opacity: 0.7;
}
#select_form{
	width: 15%;
	min-width: 120px;
	height: 100%;
}
#table_name{
	text-align: center;
	width: 100%;
	height: inherit;
	font: 16px Luminari, fantasy;
	letter-spacing: 1.3px;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: #e0e1dd;
	background-color: #415a77;
}
#table_name:hover{
	border: 1px solid #778da9;
}
select#table_name option{
	cursor: pointer;
}
main{
	display: flex;
	justify-content: center;
	border-radius: 0 0 20px 20px;
	margin: 0 2svw 3svh;
	min-height: 400px;
	min-width: 570px;
	max-height: 89svh;		/*	100-3-5-2-(1?)	*/
	overflow: hidden;
	background-color: #111e26;
}
#scroller{
	border: 1px solid #111e26;
	min-width: 300px;
	width: -webkit-fill-available;
	overflow: auto;
}
.row{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	min-height: 30px;
	height: 5svh;
	border-top: 1px solid #111e26;
}
.row:first-child{
	border-top: none;
}
.row:last-child{
	border-radius: inherit;
}
.cell{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	min-height: 100%;
	min-width: 60px;
	width: 13%;									/* dynamic */
	overflow: hidden;
	padding: 0 5px;
	border-right: 1px solid #111e26;
	color: #e0e1dd;
	background-color: #415a77;
}
.cell.ид {
	width: 60px;
}
.row:nth-child(odd) .cell{
	background-color: #778da9;
}
.cell:first-child{
	border-radius: inherit;
	border-bottom-right-radius: 0;
}
.cell:last-child{
	border-radius: inherit;
	border-bottom-left-radius: 0;
}
.text{
	justify-content: left;
}
/* 			ADD FORM		 */
#add_form{
	display: none;
	position: absolute;
	left: 25.5svw;
	min-height: 17svh;
	min-width: 230px;
	padding: 3svh 2svw;
	border-radius: 15px;
	border: 1px solid #415a77;
	background-color: #111e26;
}
.add_input{
	margin: 1.5svh 0 0;
	min-width: 13svw;
	min-height: 3.5svh;
	max-height: 5svh;
	border-radius: 10px;
	padding: 0 10px;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: #edf2f4;
	border: 2px solid #415a77;
}
.add_input:first-child{
	margin: 0;
}
.add_input:last-child{
	min-width: 10svw;
	margin: 1.5svh 3svw 0;
	cursor: pointer;
	color: #e0e1dd;
	background-color: #415a77;
}
.add_input:last-child:hover{
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
	opacity: 0.8;
}
.add_selects{
	
}
/*			REM FORM		 */
#rem_form{
	display: none;
	flex-wrap: nowrap;
	position: absolute;
	top: 8svh;
	left: 58svw;
	min-height: 2svh;
	min-width: 170px;
	padding: 2svh 1svw;
	border-radius: 15px;
	align-items: center;
	border: 1px solid #415a77;
	background-color: #111e26;
}
#rem_form div, #rem_confirm{
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	letter-spacing: 1px;
	color: #e0e1dd;
}
#rem_confirm{
	margin-left: 15px;
	padding: 7px 40px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: #415a77;
}